.app-header {
  color: white;
  font-size: xx-large;
  padding: 10px;
}

.micro-header {
  margin-top: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  font-weight: bold;
}

.micro-content {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  min-height: 150px;
}